@charset "utf-8";
/* CSS Document */
  #container { width:1000px; height:auto; margin:auto;} /*Centrar el div = margin:auto;*/
	#header{ width:auto; height:110px; background: url(../images/header2.png) no-repeat;;}
	#sidebar{ float:left; width:20%; height:auto;}
	#content{ float:right; width:78%; height:auto; padding: 5px;}
	#inicio { width:auto; height:auto; margin:auto;}
	#footer{ width:auto; height:50px; margin:auto; background-color:#A00;}
	#clear { clear:both;}
	/*Cajas*/
	div#box { width:auto; height:auto; padding: 5px; text-align:justify; margin:3px; background-color:#FDF8BB;}
	div#box p {	font-family: Georgia, serif;
				font-size: 14px;
				font-style: italic;
				font-weight: normal;
				text-transform: normal;
				letter-spacing: normal;
				line-height: 1.4em;}
	/*clases:*/

	div#box ul li {	font-family: Cambria, serif;
					font-size: 14px;
					font-style: normal;
					font-weight: normal;
					text-transform: normal;
					letter-spacing: normal;
					line-height: 1.3em;}
	div#box ul li { display:block; text-decoration:none; text-align:left;}	
	div#box ul li a { text-decoration: none; color:#A00; padding-top: 3px 0px; 3px 0px;}
	
	div#boxtitle { width:300px; height:30px; margin:auto; text-align:center;}

	/**/
	#tabla{
	  border: 0px solid black;
	  border-spacing: 0px;
	}
	#tabla { width:100%;}
	#tabla thead tr{
	  font-family: Arial, monospace;
	  font-size: 14px;
	}
	#tabla thead tr th{
	  border-bottom: 2px solid black;
	  border-top: 1px solid black;
	  margin: 0px;
	  padding: 2px;

	}
	#tabla tr {
	  font-family: arial, monospace;
	  color: black;
	  font-size:12px;
	  background-color: white;
	}
	#tabla tr.odd {
	  background-color: #AAAAAA;
	}
	
	#tabla tr td, th{
	  border-bottom: 1px solid black;
	  padding: 2px;
	}
	
	a:link{
	  font-family:arial, monospace;
	  text-decoration: none;
	  color: teal;
	}
	
	a:hover{
	  text-decoration: underline;
	}
	
	a:visited{
	  color:black;
	  text-decoration: none;
	}
	/*#gtabla { background-color:#FFA;}*/
	#gtabla tr td { width:100px;}
	/**/
	
	/*Clases genéricas:*/				
	.radius {	-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;}
				
	.radius-top {-webkit-border-top-left-radius: 20px;
				 -webkit-border-top-right-radius: 20px;
				 -moz-border-radius-topleft: 20px;
				 -moz-border-radius-topright: 20px;
				 border-top-left-radius: 20px;
				 border-top-right-radius: 20px;}			
				
	.border-blue { border: 2px solid blue;}	
	.border-black { border: 1px solid black; }		
	.border-brown { border: 2px solid brown; }
	.border-grey { border: 2px solid grey; }		
	.center { margin:auto;}
	/*pie de página*/
	#footer p {	font-family: Helvetica, Arial, sans-serif;
				font-size: 18px;
				font-style: italic;
				font-weight: normal;
				text-transform: normal;
				letter-spacing: normal;
				line-height: 1.4em;
				color: #FFF;}
	#footer p {  text-align:center; }				